body { background-color: #990000; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#header { width:600px; margin: 0 auto;}
#wrapper { margin: 0px auto; }

#page { width:600px; margin: 0 auto; }


#notice {
  color: green;
}

#form{
  background-color:#FFF;
  padding:15px;
 	box-shadow: 5px 5px 5px #000;
	border-radius: 30px;
    -moz-border-radius: 30px;
	-moz-box-shadow: 5px 5px 5px #000;
	-webkit-box-shadow: 5px 5px 5px #000;
}


.post{
	background-color:#FFF; 
	padding:15px;
	box-shadow: 10px 10px 5px #000;
	border-radius: 30px;
    -moz-border-radius: 30px;
	-moz-box-shadow: 5px 5px 5px #000;
	-webkit-box-shadow: 5px 5px 5px #000;
	}
	
.box{
	width:100px;
	height:50px; 
	margin:0 auto;}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
